In [19]:
import numpy as np
import pandas as pd
from sklearn import metrics
import matplotlib.pyplot as plt
from dataclasses import replace

In [20]:
dataset=pd.read_csv('/content/insurance.csv')
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [21]:
X=dataset.iloc[:,:-1].values
Y=dataset.iloc[:,1].values
X

array([[19, 'female', 27.9, 0, 'yes', 'southwest'],
       [18, 'male', 33.77, 1, 'no', 'southeast'],
       [28, 'male', 33.0, 3, 'no', 'southeast'],
       ...,
       [18, 'female', 36.85, 0, 'no', 'southeast'],
       [21, 'female', 25.8, 0, 'no', 'southwest'],
       [61, 'female', 29.07, 0, 'yes', 'northwest']], dtype=object)

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=0)

In [24]:
from sklearn.linear_model import LinearRegression

In [34]:
from dataclasses import replace
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

ValueError: ignored

In [ ]:
dataset['sex'].replace('String',replace-float,replace=True)

In [ ]:
y_predict = regressor.predict(X_test)

In [ ]:
plt.scatter(X_train,Y_train,color="red")
plt.plot (X_train,regressor.predict(X_train),color="blue")
plt.scatter(x_test,Y_test,color="red")
plt.plot( X_train,regressor.predict(X_train),color = "blue")
plt.title('ages vs charges(test set)')
plt.xlabel('age in years')
plt.ylabel('charges')
plt.show